---
title: JKirchartz Resume
---

<!-- Header -->
<div class="bs-docs-section">
	<div class="page-header">
		<h1><strong>Joel</strong> Kirchartz</h1>
		<p class="lead">Senior Frontend Developer</p>
	</div>
</div>


