$blue: #309090;
$white: #FFFFFF;
$black: #000000;

html, body {
  font-family: Montserrat, sans-serif;
}

strong {
  font-weight: 800;
}

ul {
  font-size: 0.85rem;
  list-style: none;
  margin: 0.5em;
  -webkit-padding-start: 0;

  &:last-of-type {
    margin-bottom: 1rem;
  }
}

header {
  margin: 1rem 0;

  h1 {
    margin-top: 2rem;
  }
}

time {
  position: relative;
  text-align: right;

  .Education & {
    color: transparent;

    &::after {
      color: black!important;
    }
  }

  &::before {
    position: absolute;
    top: -1.5rem;
    bottom: -.25rem;
    right: 0;
    content: '';
    border-right: 1px solid lighten($black, 50%);
  }

  &::after {
    position: absolute;
    text-shadow: 0 3px 0 $white, 0 -3px $white;
    top: 2%;
    right: -.33em;
    font: normal normal normal .5rem/1 FontAwesome;
    content: '\f111';
    display: block;
  }
}

article:last-of-type time::before {
  height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.fas,
.fab,
h2,
h3,
h4,
h5,
h6 {
  color: $blue;
}


main .fas {
  margin-right: 1em;
  margin-left: -1.1em;

  &.fa-star {
    margin-left: -1.22em;
  }
  &.fa-graduation-cap {
    margin-left: -1.25em;
  }

  &.fa-keyboard,
  &.fa-user-tie {
    margin: 0.5em;
  }
}

li {
  display: inline;

  &.list-item:not(:last-of-type)::after {
    content: ', ';
    display: inline;
  }
}

a {
  color: $black;
}

aside {
  text-align: center;
  margin-top: 2em;

  p {
    margin-bottom: 2em;
  }

  a {
    text-align: left;
  }

  .fas,
  .fab {
    margin-right: 1em;
  }
}

@media screen and (min-width: 576px) {
  .container-fluid {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: 720px;
  }
  aside {
    text-align: left;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .container-fluid {
    max-width: 960px;
  }
}


@media screen and (min-width: 1200px) {
  .container-fluid {
    max-width: 1140px;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  .container-fluid {
    max-width: 100%;
  }

  header {
    margin-top: 0;

    h1 {
      margin-top: 1em!important;
    }

    .col-2 {
      flex: 0 0 20%;
      max-width: 20%;
    }

  }

  main,
  aside {
    padding-left: 0 !important;
  }

  main.col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  aside.col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .fas {
    margin-right: .25rem;
  }

  .offset {
    margin-left: 11%;
  }

  time::after {
    right: -.45em;
  }

  a {
    text-decoration: none!important;
  }

}
